<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	  <div class="container">
    <h2>検索</h2>

    <label for="schedule">日程</label>
    <select id="schedule">
      <option>今日</option>
      <option>明日</option>
      <option>今週</option>
    </select>

    <label for="teamlevel">部活</label>
    <select id="teamlevel">
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>

    <label for="time">時間</label>
    <select id="time">
      <option>午前</option>
      <option>午後</option>
      <option>終日</option>
    </select>

    <div class="buttons">
      <button class="back">戻り</button>
      <button class="search">検索</button>
    </div>
  </div>
	
</body>
</html>