<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <div class="container">
    <h2>検索</h2>

    <label for="schedule">日程</label>
    <select id="schedule">
      <option value="">選択してください</option>
      <option value="today">今日</option>
      <option value="this_week">今週</option>
      <option value="next_week">来週</option>
    </select>

    <label for="club">部活動</label>
    <select id="club">
      <option value="">選択してください</option>
      <option value="soccer">サッカー部</option>
      <option value="basketball">バスケ部</option>
      <option value="tennis">テニス部</option>
      <option value="brass_band">吹奏楽部</option>
    </select>

    <label for="time">時間</label>
    <select id="time">
      <option value="">選択してください</option>
      <option value="morning">午前</option>
      <option value="afternoon">午後</option>
      <option value="evening">夕方</option>
    </select>

    <div class="buttons">
      <button class="back">戻る</button>
      <button class="search">検索</button>
    </div>
  </div>


</body>
</html>