<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <meta charset="UTF-8">
    <title>募集登録完了</title>
</head>
<body>
    <h1>募集登録が完了しました</h1>
    
    <p>募集情報の登録が正常に完了しました。</p>
    <p>確認や修正が必要な場合は、募集項目選択画面から再度アクセスしてください。</p>

    <a th:href="@{/recruitment/menu}">募集項目選択画面に戻る</a><br>
    <a th:href="@{/recruitment/input}">新しい募集を登録する</a>

    <p th:if="${success}" th:text="${success}" style="color:green;"></p>
</body>
</html>