<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <meta charset="UTF-8">
    <title>募集内容の確認</title>
</head>
<body>
    <h1>募集内容の確認</h1>

    <h2>募集内容</h2>
    <p>部活動名：<span th:text="${club.clubName}"></span></p>
    <p>希望日：<span th:text="${matchDate}"></span></p>
    <p>時間：<span th:text="${matchTime}"></span></p>
    <p>場所：<span th:text="${location}"></span></p>
	<p>人数規模：<span th:text="${scale}"></span>名</p>
	<p th:if="${remarks}">備考：<span th:text="${remarks}"></span></p>
    <hr>

    <form th:action="@{/recruitment/regist}" method="post">
		
		  <input type="hidden" name="clubId" th:value="${club.clubId}">
        <input type="hidden" name="matchDate" th:value="${matchDate}">
        <input type="hidden" name="matchTime" th:value="${matchTime}">
        <input type="hidden" name="location" th:value="${location}">
        <input type="hidden" name="scale" th:value="${scale}">
        <input type="hidden" name="remarks" th:value="${remarks}">
        
        <button type="submit">この内容で登録する</button>
        
    </form>
    <a th:href="@{/recruitment/input}">修正する</a>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
</body>
</html>