<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>チャット一覧</title>
	<link rel="stylesheet" th:href="@{/css/common/common.css}">
</head>
<body>

<h2>チャット一覧</h2>

<table border="1">
    <thead>
		
        <tr>
            <th>募集タイトル</th>
            <th>相手</th>
            <th>日時</th>
            <th>チャットへ</th>
        </tr>
    </thead>
	<tbody>
	    <tr th:each="a : ${applications}">
	        <!-- 募集タイトル -->
	      <td th:text="${a.recruitment.club.clubName}"></td>
	        <!-- 相手 -->
	        <td>
	            <!-- ログインしてるのが応募者なら相手は募集者 -->
	            <span th:if="${loginUserId == a.user.userId}"
	                  th:text="${a.recruitment.user.name}"></span>

	            <!-- ログインしてるのが募集者なら相手は応募者 -->
	            <span th:if="${loginUserId == a.recruitment.user.userId}"
	                  th:text="${a.user.name}"></span>
	        </td>

	        <!-- 日時 -->
	        <td th:text="${a.applyDate}"></td>

	        <!-- チャットへ -->
	        <td>
	            <a th:href="@{/user/chat/room(applyId=${a.applyId})}">
	                チャットに入る
	            </a>
	        </td>
	    </tr>
	</tbody>
</table>

<!-- フッター -->
<div th:replace="common/footer :: footer"></div>

</body>
</html>
