<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ユーザー情報更新確認</title>
	<link th:href="@{/css/user/update.css}" rel="stylesheet">
</head>
<body>
	<div class="container" >
		<h2>ユーザー更新確認</h2>
		<form class="info" th:action="@{/user/updateComplete}" method="post">
			<p>
				<strong>ユーザー名:</strong>
				<input type="text" name="userName" th:value="${userData.userName}">
			</p>
			<p>
				<strong>メールアドレス:</strong><input type="text" name="email" th:value="${userData.email}">
			</p>
			<p>
				<strong>パスワード:</strong><input type="text" name="password" th:value="${userData.password}">
			</p>
			<input type="hidden" name="userId" th:value="${userData.userId}">
			<button type="submit" class="confirm">更新する</button>
		</form>
		<form class="info"th:action="@{/cancel}">
				<button type="button" class="cancel">キャンセル</button>
		</form>

	</div>
</body>
</html>
