<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

  <!-- top.html へ遷移 -->
  <button onclick="location.href='./top.html'">ホーム</button>

  <!-- recrute_input.htmlへ遷移 -->
  <button onclick="location.href='./recrute_input.html'">募集</button>

  <!-- chat.htmlへ遷移 -->
  <button onclick="location.href='./chat.html'">チャット</button>

  <!-- apply_list.htmlへ遷移 -->
  <button onclick="location.href='./apply_list.html'">応募</button>

  <!-- menu.htmlへ遷移 -->
  <button onclick="location.href='./menu.html'">その他</button>


	
</body>
</html>