<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

  <!-- top.html へ遷移 -->
  <button onclick th:href="@{/common/top.html}">ホーム</button>

  <!-- recrute_input.htmlへ遷移 -->
  <button onclick th:href="@{/user/input/recrute_input.html}">募集</button>

  <!-- chat.htmlへ遷移 -->
  <button onclick th:href="@{/user/chat/chat.html}">チャット</button>

  <!-- apply_list.htmlへ遷移 -->
  <button onclick th:href="@{/user/apply/apply_list.html}">チャット</button>

  <!-- menu.htmlへ遷移 -->
  <button onclick th:href="@{/common/menu/menu.html}">メニュー</button>

	
</body>
</html>