<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<div>
		<table>
			<tr>
				<th>部活動</th>
				<th>試合希望日</th>
				<th>時間</th>
				<th>場所</th>
			</tr>
		<tr th:each="recruitments">
			<td th:text="${recruitments.club_id}"></td>
			<td th:text="${recruitments.match_date}"></td>
			<td th:text="${recruitments.match_time}"></td>
			<td th:text="${recruitments.location}"></td>
		</tr>
		</table>
	</div>
	
	

</body>
</html>