<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    
        <h2>My Applications</h2>
        
        
        
                    <div>
                        <h5>sdvxvxcv</h5>
                        <p class="mb-1">Tokyov - 2024-02-15 14:00</p>
                        
                    </div>
                    <div>
                        <a href="apply_info.html" class="btn btn-info btn-sm">View</a>
                        <a href="apply_cancel_check.html" class="btn btn-danger btn-sm">Cancel</a>
                    </div>
            
            
            
                    <div>
                        <h5>dxxzvxbdfb</h5>
                        <p class="mb-1">Osaka xc - 2024-02-20 16:00</p>
                        
                    </div>
                    <div>
                        <a href="apply_info.html" class="btn btn-info btn-sm">View</a>
                        <button class="btn btn-secondary btn-sm" disabled>Cancel</button>
                    </div>
               
        
        <a href="user_home.html" class="btn btn-secondary mt-3">Back to Home</a>
    </div>
</body>
</html>