<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録</title>
	<link th:href="@{/css/user/regist.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>ユーザー登録</h2>
        <form th:action="@{/user/registCheck}" method="post">
            <label for="username">ユーザー名:</label>
            <input type="text" name="userName" required>

            <label for="email">メールアドレス:</label>
            <input type="email" name="email" required>

            <label for="password">パスワード:</label>
            <input type="password" name="password" required>

            <button type="submit" class="registBtn">登録</button>
        </form>
    </div>
</body>
</html>
