<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>退会確認</title>
	<link th:href="@{/css/user/delete.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<form th:action="@{/user/deleteComplete}" method="post">
			<h2>退会確認</h2>
			<p>本当に退会してもよろしいですか？</p>
			<input type="hidden" name="id" th:value="${userId}">
			<button class="confirm">退会する</button>
		</form>
		<form th:action="@{/cancel}" method="get">
			<button class="cancel">キャンセル</button>
		</form>
	</div>
</body>
</html>
