<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ユーザー管理</title>
	<link th:href="@{/css/menu/menu.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<h2>ユーザー管理</h2>
		<form th:action="@{/user/registInput}">
			<button class="register" type="submit">登録</button>
		</form>
		
		<form th:action="@{/user/updateInput}">
			<button class="update" type="submit">更新</button>
		</form>
		
		<form th:action="@{/user/deleteInput}">
			<button class="delete" type="submit">削除</button>
		</form>
	</div>
</body>

</html>